@media (max-width: 900px) {
    .inicio {
        width: 90%;
    }

    .cards-digimons {
        grid-template-columns: repeat(2, 1fr);
    }

    .card-destaque {
        padding: 20px;
        gap: 25px;
    }

    .card-destaque>img {
        width: 180px;
        height: 180px;
    }
}

@media (max-width: 600px) {
    .favorite-person {
        height: 60px;
        padding: 0 20px;
    }

    .favorite-person h1 {
        font-size: 20px;
    }

    .favorite-person-lista {
        gap: 5px;
    }

    .inicio {
        width: 92%;
        padding-top: 25px;
    }


    .content-busca {
        padding: 10px;
    }

    .content-busca input {
        width: calc(100% - 50px);
        padding: 0 12px;
        font-size: 13px;
    }

    .content-busca button {
        width: 50px;
    }


    .categorias {
        min-width: calc(50% - 8px);
        height: 110px;
    }


    .content-destaque {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .content-destaque>h1 {
        width: 100%;
    }

    .card-destaque {
        width: 100%;
        flex-direction: column;
        text-align: center;
        padding: 20px;
        gap: 15px;
    }

    .card-destaque>img {
        width: 160px;
        height: 160px;
    }

    .info-destaque h3 {
        font-size: 25px;
    }

    .content-destaque>button {
        width: 40px;
        height: 40px;
    }

    .indicadores {
        width: 100%;
        order: 5;
    }


    .cards-digimons {
        grid-template-columns: 1fr;
    }

    .card-digimon {
        min-height: 280px;
    }


    .navegacao {
        bottom: 8px;
        width: 94%;
    }

    .navegacao-lista li {
        font-size: 9px;
    }

    .navegacao-lista a {
        width: 35px;
        height: 30px;
    }
}