* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.favorite-person{
    border-bottom: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px;
}

.favorite-person-lista{
    display: flex;
    list-style: none;
    gap: 50px;
}